{% extends "base.html" %}

{% block content %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
{% endblock %}
    
    <body id="homeBody">

    <h1 id="intro">
        TasteBuds Restaurant Recommender</br>
    <h1>
    
    <h2 id="intro2">
        Hungry? Let me show you where to go. </br></br>
        Login or Sign-up for free to get started!
    </h2>
    
    <div id="homeDiv">
        </br>
        <a class="homeButton" href="{% url 'accounts:login' %}">Login</a>
        <a class="homeButton" href="{% url 'accounts:signup' %}">Sign Up</a>
        
    </div>
    
    <!--<h2>The best community for all your restaurant recommendations</h2>
    <h2>Login or Sign-up for free to get started!</h2>-->
    
    
    </body>

{% endblock %}
