<nav class="navbar  mynav" role="navigation" id="navbar">
    			<div class="container">

            <a class="navbar-brand mynav" href="{% url 'home' %}">TasteBuds</a>

    					<ul class="nav navbar-nav navbar-right">
    						<!--{% if user.is_authenticated %}
                      <li><a href="{% url 'loginpage' %}" class="btn btn-simple">User Profile</a></li>
                      <li><a href="{% url 'restaurant:all' %}" class="btn btn-simple">Restaurants</a></li>
                      <li><a href="{% url 'recommendation:all' %}" class="btn btn-simple">Recommended Restaurants</a></li>
                      <li><a href="#" class="btn btn-simple">Account Settings</a></li>
                      <li><a href="{% url 'logout' %}" class="btn btn-simple">Log out</a></li>
    						{% else %}-->
    						      <!--<li><a href="#"class="btn btn-simple">Groups</a></li>-->
    						      <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Login</a></li>
    						      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
    						{% endif %}
    					</ul>



    			</div>
</nav>